h1,h2,h3,h4,h5,h6,footer,p {
  font-family: Helvetica,sans-serif;
}
p a, footer a {
  text-decoration: none;
  color: rgba(0, 128, 128, 1.0);
}
footer {
  font-size: 10px;
}
.active {
  background: rgba(0, 128, 128, 0.8);
}
button {
  background: rgba(0, 128, 128, 0.5);
  border: none;
  color: white;
  padding: 8px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 5px;
}
button a {
  text-decoration: none;
  color: white;
}
.small {
  font-size: 11px;
}
.node {
  cursor: pointer;
}
.node circle {
  fill: #fff;
  stroke: #F6BE00;
  stroke-width: 3px;
}
.node text {
  font: 12px sans-serif;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}